# Gradle & build system
.gradle/
build/
out/
bin/
tmp/
eclipse/
.classpath
.project
.factorypath

# IDE settings
.settings/
.idea/
*.iml
*.ipr
*.iws
.vscode/
.vs/

# OS files
.DS_Store
Thumbs.db

# Minecraft runtime files
run/

# Scripts & local gradle addons
!gradlew.bat
addon.local.gradle
addon.local.gradle.kts
addon.late.local.gradle
addon.late.local.gradle.kts

# General logs and crash dumps
*.log
hs_err_pid*
.run/
*.class